body {
  background-color: #d6e2f0;
}

/* CSS Flexbox layout*/

.flexbox-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px;

  border-radius: 20px;
  overflow: hidden;

  text-align: center;
  line-height: 1.2;
  font-style: normal;
  font-family: "Outfit";

  background-color: white;
  padding: 20px;
}

.box1 {
  height: 70%;
}

.box2 {
  height: 40%;
  padding: 20px 10px 30px 10px;
}

/* QR code section*/

img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Text section */

.title {
  color: #1f3251;
  font-weight: 700;
  font-size: 1.2rem;
}

.text {
  color: #7b879d;
  font-weight: 400;
  font-size: 0.9375rem;
}

/* Footer */

.attribution {
  font-size: 0.75rem;
  position: fixed;
  right: 5px;
  bottom: 5px;
}
